[submodule "package/clean"]
	path = package/clean
	url = ./package/clean/
[submodule "package/codon"]
	path = package/codon
	url = ./package/codon/
[submodule "package/terminal_emulator"]
	path = package/terminal_emulator
	url = ./package/terminal_emulator/
[submodule "package/davinci-resolve"]
	path = package/davinci-resolve
	url = ./package/davinci-resolve/
