* {
    border: none;
    border-radius: 2px;
    font-family: Plemol JP Console;
    font-size: 1.1rem;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.9); */
    background-color: #112233;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    /* padding: 10px; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    color: #ffffff;
    box-shadow: inset 0 -3px #ffffff;
    background: rgba(255, 255, 255, 0.3);
}

#workspaces button.active {
    color: #ffffff;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* #mode { */
    /* background-color: #64727D; */
    /* border-bottom: 3px solid #ffffff; */
/* } */

/* @keyframe fade { */
    /* 0%,100% {opacity: 0 } */
    /* 50% { opacity: 1 } */
/* } */
/*  */

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    /* margin-left: 0; */
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    /* margin-right: 0; */
}

/* .modules-right { */
	/* background-color: rgba(0,43,51,0.85); */
	/* background-color: #ffffff; */
    /* margin: 2px 10px 2px 2px; */
/* } */
/* .modules-center { */
	/* background-color: rgba(0,43,51,0.85); */
    /* margin: 2px 0 0 0; */
/* } */
/* .modules-left { */
    /* margin: 2px 0 0 5px; */
	/* background-color: rgba(0,119,179,0.6); */
/* } */

#clock {
    /* background-color: #64727D; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
